

#navLinks{
	background-color: black;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#navLinks li{
	display: inline-block;
	font-size: 2rem;
	padding: 1rem;
	margin-top: 2px;
	color: white;
}
#navLinks li.class{
	font-size: 3rem;
	float: left;
	width: 15%;
	text-align: right;
	right: 1em;
}

#navLinks a:hover{
	text-decoration: none;
	text-decoration-color: white;
	color: firebrick;
	margin-left: 2px;
}

body{
	font-size: 16px;
	font-family:'Source Serif Pro', serif;
}
#navLinks a{
	color: white;
	text-decoration: none;
}

img {
	width: 100%;
}
header{
	text-align: left;
	font-size: 0.5rem;
}


.container a{
	color: black;
	text-decoration: none;
	font-size: 1rem;
}

h2 {
	color: green;
}
.x{
	color: black;
}
h1{
	text-align: left;
	margin: 0;
}
.head{
	text-align: center;
	font-size: 2rem;
}

.recent a{
	font-size: 2rem;
}

figure{
	margin: 0;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}






